{% extends 'base.html' %}

{% load static %}

{% block title %}Маслятово - Доставка{% endblock %}

{% block content %}
<div class="container" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">Доставка</span>
  </div>
</div>
  <div class="col">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'img/Snapshot_2161.png' %}" class="img-fluid rounded-start" alt="Card title">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <strong>Давим масло индивидуально для каждого перед доставкой/отправкой.</strong>
            </h5>
              <p class="card-text">
                Находимся в Калужской области, доставка по всей России почтой.
              </p>
              <p class="card-text">
                ✔️ При заказе от 2500 р - микс жмыхов (лен, подсолнечник, тыква , кунжут) в подарок.
              </p>
              <p class="card-text">
                ✔️ При заказе от 5000 р - скидка на доставку 50%.
              </p>
              <p class="card-text">
                ✔️ При заказе от 8000 р - доставка бесплатно.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">
  </nav>
</footer>
{% endblock %}